body {
    background-color: #0d0d0d;
    color: #00ff00;
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

footer {
    width: 100%;
    padding: 10px;
    position: fixed;
    margin: 0px;
    bottom: 0;
    left: 0;
    background-color: #006600;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: black;
    font-family: 'Courier New', monospace;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 70px auto;
    flex-grow: 1;
}


.title {
    font-size: 3rem;
    position: relative;
    animation: glitch 1s infinite linear alternate-reverse;
    text-transform: uppercase;
}

@keyframes glitch {
    0% {
        text-shadow: 2px 0 red, -2px 0 blue;
    }
    25% {
        text-shadow: -2px 0 red, 2px 0 blue;
    }

    50% {
        text-shadow: 2px 0 blue, -2px 0 red;
    }

    75% {
        text-shadow: -2px 0 blue, 2px 0 red;
    }

    100% {
        text-shadow: 2px 0 red, -2px 0 blue;
    }
}

button {
    background-color: #00ff00;
    border: none;
    color: #0d0d0d;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    margin: 20px 0;
    transition: background-color 0.3s;
}

button.stop {
    background-color: #ff0000;
}

#myGrid {
    min-height: 300px;
    width: 100%;
    border: 1px solid #00ff00;
    border-radius: 8px;
    overflow: hidden;
}

.ag-theme-alpine {
    --ag-background-color: #1a1a1a;
    --ag-foreground-color: #00ff00;
    --ag-border-color: #00ff00;
}

.ag-row {
    background-color: #0d0d0d;
    color: #00ff00;
}

.ag-row.ag-row-selected {
    background-color: #006600;
}

.ag-header {
    background-color: #003300;
    color: #00ff00;
}

.ag-paging-panel,
.ag-tool-panel-wrapper,
.ag-filter {
    background-color: #1a1a1a;
    color: #00ff00;
}

.recording-indicator {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff0000;
    font-family: 'Courier New', monospace;
}

.recording-indicator span {
    display: block;
    font-size: 1.2rem;
}

#timer {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}


.recording-indicator .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff0000;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.2; }
}
